@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;0,800;1,200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all ease 2s;
    }
    .reveal.active{
        transform: translateY(0px);
    opacity: 1;
    }
a{
    text-decoration: none;
}
.All-containt-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-toggle{
    display: none;
    font-size: 35px;
}
.menu-close{
    display: none;
    font-size: 35px;
}
.up{
    position:fixed;
    top: 80%;
    left: 92%;
    padding-bottom: 10px;
    z-index: 1;
}
.up p{
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    padding: 0px 10px;
}
.up p a{
    transition: 0.2s;
    font-size: 40px;
    color: white;
}
.up p a i:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:30px 30px;
    justify-content: space-between;
}

#main{
    height:500px;
}
#skills{
    height:700px;
}
#recent{
    height: 700px;
}
#client{
    height: 700px;
}
#about{
    height: 700px;
}
.paragraph{
    font-size: 25px;
    font-weight: 700;
    color: burlywood;
}
.change-color{
    color: crimson;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home-a{
    padding:0px 10px;
    color: white;
}
.home-a:hover{ 
    transition: all ease 2s;
    color:rgb(65, 62, 62);
} 
.text{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    align-items: center;
    margin-top: 130px;
    margin-bottom: 180px;
}
.text-1{
    font-size: 17px;
    padding-bottom: 10px;
}
.my-name{
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 15px;
}
.typewriter {
	display: inline-block;
}
.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30,end ), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    border-right: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0px 10px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(255, 255, 255); 
    }
}
.social-media-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:20px 0px;
}
.instagram{
    padding:0px 20px;
}
.instagram:hover{
    transition: all .3s;
    transform: translateY(-3px) scale(1.3);
}
.github:hover{
    transition: all .3s;
    transform: translateY(-3px) scale(1.3);
} 
.linkedin:hover{
    transition: all .3s;
    transform: translateY(-3px) scale(1.3);
}
.heading{
    color:white;
    font-size: 40px;
    border-bottom: 4px solid crimson;
    margin:40px 0px;
    font-weight: 600;
    text-align: center;
}
.row-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-1{
    display: flex;
    flex-direction: row;
}
.row-2{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.row-3{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.html-1{
    text-align: center;
    padding:0px 150px;
}
.html{
    text-align: center;
}
.html-logo{
    font-size: 50px;
}
.all-project{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button {
    --color: rgb(8, 8, 65);
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    border:1px solid white;
    font-family: 'Poppins', sans-serif;
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
   }
   .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    }
    .project-1{
        width: 390px;
        height: 181px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .project-1:hover{
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .Row-1{
        display: flex;
        flex-direction: column;
    }
    .Row-2{
        display: flex;
        flex-direction: column;
    }
    .align{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:15px 50px;
    }
.a-tag-color{
    color:white;
    background-color: crimson;
    padding:8px 40px;
    border-radius: 5px;
}
.a-tag-color:hover{
    transition: all .3s;
    transform: translateY(-3px) scale(1.3);
    box-shadow:  0 2rem 3rem  rgba(255, 255, 255, 0.1);
    color:white;
    background-color: rgb(236, 17, 61);
}
.client{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-comments-cards{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.card-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 59, 94);
    padding:8px 10px;
    border-radius: 10px;
    cursor:pointer;
}
.card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 60px;
    background-color:rgb(233, 59, 94);
    padding:8px 10px;
    border-radius: 10px;
    cursor:pointer;
}
.card-1:hover{
    transition: all .3s;
    transform: translateY(-3px) scale(1.3);
    box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
}
.card-2:hover{
    transition: all .3s;
    transform: translateY(-3px) scale(1.3);
    box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
}
.paragraph-5{
    text-align: center;
    color: white;
}
.what-roushan-do{
    font-size: 22px;
}
.client-image{
    border-radius: 100px;
}
.heading-5{
    color: white;
    text-align: center;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}
.all-about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.my-image{
    width:310px;
    height: 310px;
    border-radius: 200px;
    border: 10px solid  rgb(5, 5, 32);
}
.about-me{
    color: white;
    font-size: 15px;
    padding-left: 50px;
}
.my-school{
    color: white;
}
.my-school:hover{
    color: rgb(175, 164, 164);
    transition: all ease 0.5s;
}
.thank{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid crimson;
}
.contact-me-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-header{
    margin:10px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-1{
    width:200px;
	height:40px;
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    border: 2px solid #093d6b;
    border-radius: 20px;
    margin:10px 5px;
}
.input-1 input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:#093d6b;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}
.input-2{
    width:200px;
	height:40px;
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    border: 2px solid #093d6b;
    border-radius: 20px;
    margin:10px 5px;
}
.input-2 input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:#093d6b;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}
.input-3{
    width:410px;
	height:40px;
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    border: 2px solid #093d6b;
    border-radius: 20px;
    margin:10px 5px;
}
.input-3 input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:#093d6b;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}
.input-4{
    width:410px;
	height:200px;
    background-color:#FFFFFF;
    padding-top: 10px;
    border: 2px solid #093d6b;
    border-radius: 10px;
    margin:20px 5px;
}
.input-4 textarea{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:#093d6b;
    font-size: 18px;
    padding-bottom:130px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.input-flex{
    display: flex;
    flex-direction: row;
}
.form-button{
    color:white;
    background-color: crimson;
}
.form-button:hover{
    transition: all .3s;
    transform: translateY(-1px) scale(1.3);
}
#status {
    width: 50%;
    max-width: 500px;
    text-align: center;
    padding: 6px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 2s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
 .footer-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 10px 30px;
     background-color: crimson;
 }
 .footer{
     color: white;
     font-size: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 .copyright{
     padding:0px 5px;
     font-size: 22px;
 }
.nav-bar-for-mobile{
    display: none;
}





 @media screen and (max-width:360px) {
}
@media screen and (max-width:400px) {
    html{
        overflow-x: hidden;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-for-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .up{
       display: none;
    }
    .menu-toggle{
        font-size: 35px;
        display: block;
    }
    .nav-bar-for{
        display: none;
        background-color: crimson;
        padding: 20px 0px;
    }
    .menu-close{
        display: none;
        font-size: 35px;
    }
    .my-name{
        font-size: 25px;
    }
    .typewriter-text{
        font-size: 15px;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .html{
        padding:20px 0px;
    }
    .html-1{
        padding:20px 0px;
    }
    .all-project{
        display: flex;
        flex-direction: column;
    }
    .lottie1{
        width:400px;
        height:400px;
    }
    .project-1{
        width: 300px;
        height: 160px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .about-me{
        padding-top: 15px;
    }
    .heading{
        font-size: 30px;
    }
    .client-comments-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-about-me{
        display: flex;
        flex-direction: column;
    }
    .home-b{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 20px 0px;
    }
    .home-b:hover{
        color: rgb(0, 0, 0);
    }
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:60px 0px;
        background-color:rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .all-about-me-paragraph{
        margin-right: 50px;
    }
    .about-me{
        font-size: 15px;
        text-align: center;
    }
    #main{
        height:500px;
    }
    #skills{
        height:1600px;
    }
    #recent{
        height: 1200px;
    }
    #client{
        height: 1400px;
    }
    #about{
        height: 1000px;
    }
    .input-1{
        width:300px;
    }
    .input-2{
        display: none;
    }
    .input-3{
        width: 300px;
    }
    .input-4{
        width: 300px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .card-1:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .card-2:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
}

@media screen and (max-width:500px) {
    html{
        overflow-x: hidden;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-for-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .up{
       display: none;
    }
    .menu-toggle{
        font-size: 35px;
        display: block;
    }
    .nav-bar-for{
        display: none;
        background-color: crimson;
        padding: 20px 0px;
    }
    .menu-close{
        display: none;
        font-size: 35px;
    }
    .my-name{
        font-size: 25px;
    }
    .typewriter-text{
        font-size: 15px;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .html{
        padding:20px 0px;
    }
    .html-1{
        padding:20px 0px;
    }
    .all-project{
        display: flex;
        flex-direction: column;
    }
    .lottie1{
        width:400px;
        height:400px;
    }
    .project-1{
        width: 300px;
        height: 160px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .about-me{
        padding-top: 15px;
    }
    .heading{
        font-size: 30px;
    }
    .client-comments-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-about-me{
        display: flex;
        flex-direction: column;
    }
    .home-b{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 20px 0px;
    }
    .home-b:hover{
        color: rgb(0, 0, 0);
    }
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:60px 0px;
        background-color:rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .all-about-me-paragraph{
        margin-right: 50px;
    }
    .about-me{
        font-size: 15px;
        text-align: center;
    }
    #main{
        height:500px;
    }
    #skills{
        height:1600px;
    }
    #recent{
        height: 1200px;
    }
    #client{
        height: 1400px;
    }
    #about{
        height: 1000px;
    }
    .input-1{
        width:300px;
    }
    .input-2{
        display: none;
    }
    .input-3{
        width: 300px;
    }
    .input-4{
        width: 300px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .card-1:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .card-2:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
}
@media screen and (max-width:600px) {
    html{
        overflow-x: hidden;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-for-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .up{
       display: none;
    }
    .menu-toggle{
        font-size: 35px;
        display: block;
    }
    .nav-bar-for{
        display: none;
        background-color: crimson;
        padding: 20px 0px;
    }
    .menu-close{
        display: none;
        font-size: 35px;
    }
    .my-name{
        font-size: 25px;
    }
    .typewriter-text{
        font-size: 15px;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .html{
        padding:20px 0px;
    }
    .html-1{
        padding:20px 0px;
    }
    .all-project{
        display: flex;
        flex-direction: column;
    }
    .lottie1{
        width:400px;
        height:400px;
    }
    .project-1{
        width: 300px;
        height: 160px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .about-me{
        padding-top: 15px;
    }
    .heading{
        font-size: 30px;
    }
    .client-comments-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-about-me{
        display: flex;
        flex-direction: column;
    }
    .home-b{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 20px 0px;
    }
    .home-b:hover{
        color: rgb(0, 0, 0);
    }
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:60px 0px;
        background-color:rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .all-about-me-paragraph{
        margin-right: 50px;
    }
    .about-me{
        font-size: 15px;
        text-align: center;
    }
    #main{
        height:500px;
    }
    #skills{
        height:1600px;
    }
    #recent{
        height: 1200px;
    }
    #client{
        height: 1400px;
    }
    #about{
        height: 1000px;
    }
    .input-1{
        width:300px;
    }
    .input-2{
        display: none;
    }
    .input-3{
        width: 300px;
    }
    .input-4{
        width: 300px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .card-1:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .card-2:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
}
@media screen and (max-width:700px) {
    html{
        overflow-x: hidden;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-for-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .up{
       display: none;
    }
    .menu-toggle{
        font-size: 35px;
        display: block;
    }
    .nav-bar-for{
        display: none;
        background-color: crimson;
        padding: 20px 0px;
    }
    .menu-close{
        display: none;
        font-size: 35px;
    }
    .my-name{
        font-size: 25px;
    }
    .typewriter-text{
        font-size: 15px;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .html{
        padding:20px 0px;
    }
    .html-1{
        padding:20px 0px;
    }
    .all-project{
        display: flex;
        flex-direction: column;
    }
    .lottie1{
        width:400px;
        height:400px;
    }
    .project-1{
        width: 300px;
        height: 160px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .about-me{
        padding-top: 15px;
    }
    .heading{
        font-size: 30px;
    }
    .client-comments-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-about-me{
        display: flex;
        flex-direction: column;
    }
    .home-b{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 20px 0px;
    }
    .home-b:hover{
        color: rgb(0, 0, 0);
    }
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:60px 0px;
        background-color:rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .all-about-me-paragraph{
        margin-right: 50px;
    }
    .about-me{
        font-size: 15px;
        text-align: center;
    }
    #main{
        height:500px;
    }
    #skills{
        height:1600px;
    }
    #recent{
        height: 1200px;
    }
    #client{
        height: 1400px;
    }
    #about{
        height: 1000px;
    }
    .input-1{
        width:300px;
    }
    .input-2{
        display: none;
    }
    .input-3{
        width: 300px;
    }
    .input-4{
        width: 300px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .card-1:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .card-2:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
}
@media screen and (max-width:800px) {
    html{
        overflow-x: hidden;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-for-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .up{
       display: none;
    }
    .menu-toggle{
        font-size: 35px;
        display: block;
    }
    .nav-bar-for{
        display: none;
        background-color: crimson;
        padding: 20px 0px;
    }
    .menu-close{
        display: none;
        font-size: 35px;
    }
    .my-name{
        font-size: 25px;
    }
    .typewriter-text{
        font-size: 15px;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .html{
        padding:20px 0px;
    }
    .html-1{
        padding:20px 0px;
    }
    .all-project{
        display: flex;
        flex-direction: column;
    }
    .lottie1{
        width:400px;
        height:400px;
    }
    .project-1{
        width: 300px;
        height: 160px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .about-me{
        padding-top: 15px;
    }
    .heading{
        font-size: 30px;
    }
    .client-comments-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-about-me{
        display: flex;
        flex-direction: column;
    }
    .home-b{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 20px 0px;
    }
    .home-b:hover{
        color: rgb(0, 0, 0);
    }
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:60px 0px;
        background-color:rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .all-about-me-paragraph{
        margin-right: 50px;
    }
    .about-me{
        font-size: 15px;
        text-align: center;
    }
    #main{
        height:500px;
    }
    #skills{
        height:1600px;
    }
    #recent{
        height: 1200px;
    }
    #client{
        height: 1400px;
    }
    #about{
        height: 1000px;
    }
    .input-1{
        width:300px;
    }
    .input-2{
        display: none;
    }
    .input-3{
        width: 300px;
    }
    .input-4{
        width: 300px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .card-1:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .card-2:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
}
@media screen and (max-width:900px) {
       html{
        overflow-x: hidden;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-for-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .up{
       display: none;
    }
    .menu-toggle{
        font-size: 35px;
        display: block;
    }
    .nav-bar-for{
        display: none;
        background-color: crimson;
        padding: 20px 0px;
    }
    .menu-close{
        display: none;
        font-size: 35px;
    }
    .my-name{
        font-size: 25px;
    }
    .typewriter-text{
        font-size: 15px;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .html{
        padding:20px 0px;
    }
    .html-1{
        padding:20px 0px;
    }
    .all-project{
        display: flex;
        flex-direction: column;
    }
    .lottie1{
        width:400px;
        height:400px;
    }
    .project-1{
        width: 300px;
        height: 160px;
        margin-left: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .about-me{
        padding-top: 15px;
    }
    .heading{
        font-size: 30px;
    }
    .client-comments-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-about-me{
        display: flex;
        flex-direction: column;
    }
    .home-b{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 20px 0px;
    }
    .home-b:hover{
        color: rgb(0, 0, 0);
    }
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:60px 0px;
        background-color:rgb(233, 59, 94);
        padding:8px 10px;
        border-radius: 10px;
        cursor:pointer;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .all-about-me-paragraph{
        margin-right: 50px;
    }
    .about-me{
        font-size: 15px;
        text-align: center;
    }
    #main{
        height:500px;
    }
    #skills{
        height:1600px;
    }
    #recent{
        height: 1200px;
    }
    #client{
        height: 1400px;
    }
    #about{
        height: 1000px;
    }
    .input-1{
        width:300px;
    }
    .input-2{
        display: none;
    }
    .input-3{
        width: 300px;
    }
    .input-4{
        width: 300px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .card-1:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
    .card-2:hover{
        transition: all .3s;
        transform: translateY(-3px) scale(1.1);
        box-shadow: 0 2rem 3rem  rgba(255, 255, 255, 0.1);
    }
}
@media screen and (max-width:1000px) {
}
@media screen and (max-width:1200px) {
}
@media screen and (max-width:1403px) {
    
} 